# Removing VScode files.
.vscode

# Avoiding downloads to be included.
downloads/*

# Avoiding the sgdk package to be incuded in the in the repository.
platform/sgdk

# Avoid project compilied objects.
projects/**/out/*
projects/**/home/*

# Avoid github token.
.github_token

